.main-setting {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  background-color: silver;
}

.sub-setting {
  text-align: center;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

